RemoteSystemsTempFiles/
.classpath
.cache
.buildpath
.settings
.metadata
target
*.iml
*.ipr
*.iws
service-segment/data/aifang-chris.ser.gz
service-segment/data/dict/*.dict
service-segment/data/ctb
service-segment/data/pku
service-segment/data/*.gz
service-segment/data/train/*
aifang-pom.xml
src/main/resources/META-INF/config/local/*.properties
nohup.out
hs_err_*
.DS_Store
Servers/*